<div class="card product-card p-3 primary" style="border: 1px rgba(70,70,70,0.2) solid; box-sizing: content-box; background-color: #cccccc10">
    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}" />
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{price}} Kč</p>
        <form method="post" action="/Api/Orders/AddToCart" class="add-to-cart" data-id="{{id}}" data-quantity="1">
            <input type="hidden" name="ProductId" value="{{id}}" />
            <input type="hidden" name="Quantity" value="1"/>
            <button type="submit" class="btn btn-success">Do košíku</button>
        </form>
    </div>
</div>