@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model WhiteSoft.Models.CartUserViewModel
@{
    ViewData["Title"] = "Košík";
    var user = User.Identity!.IsAuthenticated ? UserManager.GetUserAsync(User).Result : null;
}

<h2>Váš košík<span id="cartEmpty"></span></h2>

<div>
    <form method="post" asp-action="Checkout" asp-controller="ordersApi">
        <table class="table table-striped table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Produkt</th>
                    <th>Množství</th>
                    <th>Cena</th>
                    <th>Celkem</th>
                    <th>Smazat</th>
                </tr>
            </thead>
            <tbody id="cartContainer">
                <!-- tady se JS dynamicky přidávají řádky -->
                @foreach (var item in Model.Cart)
                {
                <tr data-product-id="@item.ProductId">
                    <td style="text-align:left; padding-left:20px">@item.Details.Name</td>
                    <td>
                        <div class="quantity-control">
                            <button type="button" class="decrease-btn">&lt;</button>
                            <span class="quantity">${item.details.quantity}</span>
                            <button type="button" class="increase-btn">&gt;</button>
                        </div>
                    <td style="text-align:right; padding-right:20px">@item.Details.Price.ToString("F2") Kč</td>
                    <td style="text-align:right; padding-right:20px">@item.Details.Total.ToString("F2") Kč</td>
                    <td>
                            <button type="button" class="delete-btn text-danger fw-bold">X</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="col-6">
            <div class="form-group">
                <label for="CustomerName">Jméno / název firmy:</label>
                <input id="CustomerName" class="form-control" value="@user?.FirstName @user?.LastName" />
            </div>
            <div class="form-group">
                <label for="CustomerEmail">Email:</label>
                <input id="CustomerEmail" class="form-control" value="@user?.Email" />
            </div>

            <button type="button" id="submitCart" class="btn btn-success">Odeslat</button>
            <button type="button" id="submitCartNoPay" class="btn btn-link">Odeslat bez placení</button>
        </div>
    </form>
</div>

<script src="~/js/loadCart.js"></script>
