@{
    ViewData["Title"] = "Správa objedávek";
}
<div class="row">
    <div class="col-6">
        <h2>Správa objednávek</h2>
    </div>
    <div class="col-6 d-flex">
        <button id="startSimulation" class="btn btn-success ms-auto">Spustit simulaci objednávek</button>

    </div>
</div>


<div id="pagination" class="my-3"></div>

<table class="table primary" id="ordersTable">
    <thead>
        <tr>
            <th>ID obj.</th>
            <th>Zákazník</th>
            <th>Celkem</th>
            <th>Položky</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        <!-- sem se to doplní -->
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="orderItemsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content primary">
            <div class="modal-header">
                <h5 class="modal-title">Položky objednávky</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Množství</th>
                            <th>Cena</th>
                            <th>Celkem</th>
                        </tr>
                    </thead>
                    <tbody id="orderItemsTableBody">
                        <!-- dynamický obsah -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/orderSimulation.js"></script>
<script src="~/js/loadOrders.js"></script>